---
---

body {
  text-align: center;
  background: #1A1A1A;
}

.thumb {
  display: inline-block;
  border: 8px solid #1A1A1A;
  transition: opacity 0.5s, border-color 0.3s;
  img {
    cursor: pointer;
    border: 1px solid #1A1A1A;
    float: left;
  }
  &:hover {
    border-color: white;
  }
  .show-image & {
    &.current {
        opacity: 0.1;
    }
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
}

.image {
  text-align: center;
  padding: 50px 0;
  display: none;
  img {
    border: 20px solid white;
    box-shadow: 0 0 10px 5px black;
  }
  .show-image & {
    display: block;
  }
}
